/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  /*display: block;*/
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*        End of reset-------*/

body, html{
    min-height: 100vh;       /*Better than height: 100%*/
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 6fr;
    height: 100%;
}

.header{
    grid-row: 1/2;
    grid-column: 2/3;
    box-sizing: border-box;
}

.sidebar{
    grid-row: 1/3;
    grid-column: 1/2;
    
    background-color: #1992D4;
}

.article{
    grid-row: 2/3;
    grid-column: 2/3;
    
    background-color: #D4D9E0;
}

.icon{
    height: 1.5rem;
}

img{
    height: 3rem;
}

.search-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-bar{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 5%;
}

.search-section search{
    border-radius: 50px;
    height: 1.5rem;
    background-color: #D4D9E0;
    border: none;
    width: 70%;
    caret-color: black;
}

.notifications{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.1rem;
    gap: 30px;
    padding: 10px;
    font-weight: 700;
    padding-right: 15%;
    min-width: 290px;
}

.notifications p{
    min-width: 205px;
}

.user-info-section{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 0.5%;
}

.user-welcome{
   display: flex;
   font-size: 1rem;
   gap: 15px;
   padding-left: 5%;
   min-width: 400px;
   padding-bottom: 5px;
}

.user-welcome img{
    height: 5rem;
}

.user-welcome div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    gap: 10%;
}

.user-info-buttons button{
    border: none;
    background-color: #1992D4;
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 50px;
    padding: 5px;
    width: 6rem;
}

.article{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 25px;
}

.grid-parent{
    grid-template-rows: 1fr 8fr;
    padding: 20px;
}

.grid-parent h3{
    padding-bottom: 15px;
}

.article-grid-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 30px;
    
}

.card{
    display: grid;
    grid-template-rows: 4fr 1fr;
    height: 200px;
    border-radius: 10px;
    
    font-size: 0.8rem;
    background: linear-gradient(
    to right,
    #E2B646 2%,
    white 2%
  );
}

h3{
    font-size: 1.2rem;
}

.card h3{
    padding-bottom: 0px;
}

.card .text{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 10%;
}

.card .buttons{
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    padding: 3%;
}

.grid-sidebar{
    padding: 20px;
}

.announcements-tile{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 15%;
}

.announcements-card{
    border-bottom: black;
}





